
   .payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
  
  .card-element {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .card-element input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  .card-element label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .card-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .card-number input {
    width: calc(25% - 5px);
    margin-right: 5px;
  }
  
  .card-cvc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .card-cvc input {
    width: calc(33% - 5px);
    margin-right: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }